@font-face {
    font-family: "Norse";
    src: url(../fonts/Norse-Bold.woff2) format("woff2"),
         url(../fonts/Norse-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Norse", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
