@font-face {
    font-family: "Norse";
    src: url(../fonts/Norse-Bold.woff2) format("woff2"),
         url(../fonts/Norse-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.main {
    display: flex;
    height: 100%;
}

.main .left {
    background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 0 1em 0 ;
}

.main .left .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 0.3em 0;
    width: 100%;
}

.main .left .logo img {
    width: 60px;
}

.main .left .logo span {
    font-family: "Norse", sans-serif;
    color: white;
    font-size: 3.5rem;
}

.main .left p {
    color: white;
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}

.main .left p a {
    color: white;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 2.9rem;
    padding-bottom: 1rem;
    background-color: #f9fafb;
}

.right .paragraphs {
    font-weight: bold;
    font-size: 1rem;
    padding-left: 1.5em;
    width: 60%;
}

.right .paragraphs p:last-child {
    margin-top: 0.7rem;
    margin-bottom: 2.2rem;
}


.right form .container{
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.178);
    padding: 1em 1.5em;
}

.right form .container h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.right form .container div {
    display: flex;
    column-gap: 4rem;
}

.right form .container div > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.right form .container div label {
    text-transform: uppercase;
    font-size: 0.6rem;
}

.right form .container div input {
    border: 1px solid #E5E7EB;
    padding: 0.2rem;
}

.right form .container div input[type="password"]:invalid {
    border: 1px solid red;
}

.right form .container div input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.192);
} 


.right form .bottom {
    padding-left: 1.5em;
    margin-top: 1.5rem;
}

.right form .bottom button{
    background-color: #596D48;
    padding: 10px 24px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-bottom: 1.5rem;
}

.right form .bottom p a {
    color: #596D48;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}



